@font-face {
    font-family: "Clear Sans";
    src: url("../../assets/fonts/ClearSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clear Sans";
    src: url("../../assets/fonts/ClearSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}